@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: bold;
    src: url("../assets/fonts/vazir/Vazir-Bold-FD.eot");
    src: url("../assets/fonts/vazir/Vazir-Bold-FD.eot?#iefix")
        format("embedded-opentype"),      
        url("../assets/fonts/vazir/Vazir-Bold-FD.woff2")
        format("woff2"),      
        url("../assets/fonts/vazir/Vazir-Bold-FD.woff")
        format("woff"),
        url("../assets/fonts/vazir/Vazir-Bold-FD.ttf")
        format("truetype");
  }
  
  @font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/vazir/Vazir-Medium-FD.eot");
    src: url("../assets/fonts/vazir/Vazir-Medium-FD.eot?#iefix")
        format("embedded-opentype"),      
        url("../assets/fonts/vazir/Vazir-Medium-FD.woff2")
        format("woff2"),      
        url("../assets/fonts/vazir/Vazir-Medium-FD.woff")
        format("woff"),      
        url("../assets/fonts/vazir/Vazir-Medium-FD.ttf")
        format("truetype");
  }
  
  @font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/vazir/Vazir-Light-FD.eot");
    src: url("../assets/fonts/vazir/Vazir-Light-FD.eot?#iefix")
        format("embedded-opentype"),      
        url("../assets/fonts/vazir/Vazir-Light-FD.woff2")
        format("woff2"),      
        url("../assets/fonts/vazir/Vazir-Light-FD.woff")
        format("woff"),      
        url("../assets/fonts/vazir/Vazir-Light-FD.ttf")
        format("truetype");  
  }
  
  @font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 200;
    src: url("../assets/fonts/vazir/Vazir-Thin-FD.eot");
    src: url("../assets/fonts/vazir/Vazir-Thin-FD.eot?#iefix")
        format("embedded-opentype"),      
        url("../assets/fonts/vazir/Vazir-Thin-FD.woff2")
        format("woff2"),      
        url("../assets/fonts/vazir/Vazir-Thin-FD.woff")
        format("woff"),      
        url("../assets/fonts/vazir/Vazir-Thin-FD.ttf")
        format("truetype");
  }